In [1]:
import pandas as pd

In [3]:
sales  = pd.read_csv(r"C:\Users\ethan\Downloads\Sales_add.csv")

In [6]:
sales.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

H-Null : Sales after digital advertisement <= Sales before digital advertisement.

H-Alt   : Sales after digital advertisement > Sales before digital advertisement

Significance value is taken as 5%

Since we have 2 samples with sample size less than 30, I decided to go with a 2 sample T-Test

In [8]:
from scipy.stats import ttest_ind

In [11]:
T_score, p_valueT = ttest_ind(sales['Sales_After_digital_add(in $)'], sales['Sales_before_digital_add(in $)'])

In [12]:
p_valueT

2.614368006904645e-16

In [13]:
if p_valueT < 0.05:
    print('Sales did increase')
else:
    print('Advertisements have no effect on sales')

Sales did increase

### Checking independence between 'Region' and 'Manager'
Null : There is some relation

Alt   : There is no relation

Significance value is taken as 5%

In [18]:
from scipy.stats import chi2_contingency

In [53]:
#tab_rel = [sales['Manager'].value_counts(normalize=False).T, sales['Region'].value_counts(normalize=False).T]

In [69]:
#tab_rel

[Manager - A    9
 Manager - B    7
 Manager - C    6
 Name: Manager, dtype: int64,
 Region - A    10
 Region - B     7
 Region - C     5
 Name: Region, dtype: int64]

In [55]:
#chi2_contingency(tab_rel)

Chi2ContingencyResult(statistic=0.14354066985645933, pvalue=0.9307446307989679, dof=2, expected_freq=array([[9.5, 7. , 5.5],
       [9.5, 7. , 5.5]]))

In [67]:
freq_table = pd.crosstab(sales['Manager'], sales['Region'])

In [68]:
p_valuC = chi2_contingency(freq_table).pvalue

In [70]:
freq_table

Region       Region - A  Region - B  Region - C
Manager
Manager - A           4           4           1
Manager - B           3           1           3
Manager - C           3           2           1

In [64]:
p_valuC

0.5493991051158094

In [66]:
if p_valuC < 0.05:
    print('There is no relation ')
else:
    print('There is some relation')

There is some relation